*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

/* Navigation */

header{
    background:#111827;
    position:sticky;
    top:0;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

nav h1{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h2{
    color:#38bdf8;
}

.hero h1{
    font-size:60px;
}

.hero h3{
    color:#94a3b8;
    margin:10px 0;
}

.hero p{
    max-width:650px;
    margin:auto;
}

/* Buttons */

.buttons{
    margin-top:30px;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin:10px;
    transition:.3s;
    border:none;
    cursor:pointer;
}

.btn:hover{
    background:#0284c7;
}

.btn-outline{
    background:transparent;
    border:2px solid #38bdf8;
}

.btn-outline:hover{
    background:#38bdf8;
}

/* Sections */

.section{
    width:90%;
    margin:auto;
    padding:80px 0;
    text-align:center;
}

.section h2{
    margin-bottom:30px;
    color:#38bdf8;
    font-size:35px;
}

/* Skills */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:10px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    background:#334155;
}

/* Projects */

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project{
    background:#1e293b;
    padding:25px;
    border-radius:10px;
}

.project h3{
    color:#38bdf8;
}

.project button{
    margin-top:20px;
    padding:10px 20px;
    background:#38bdf8;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
    transition:.3s;
}

.project button:hover{
    background:#0284c7;
}

/* Contact */

.contact-buttons{
    margin-top:30px;
}

/* Footer */

footer{
    background:#111827;
    padding:20px;
    text-align:center;
    margin-top:40px;
}

/* Responsive */

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:42px;
}

}